overall_list.txt
review_list.txt
.ipynb_checkpoints/process_data-checkpoint.ipynb
music_review.csv
.idea/ProjectNLP_Sentiment_Analysis.iml
.ipynb_checkpoints/VectorConverter-checkpoint.ipynb
__pycache__/csv_process.cpython-36.pyc
__pycache__/rnn.cpython-36.pyc
.idea/dictionaries/yichenzhou.xml
.ipynb_checkpoints/accuracy_test-checkpoint.ipynb
.ipynb_checkpoints/generate_data-checkpoint.ipynb
.ipynb_checkpoints/train-checkpoint.ipynb
model/checkpoint
model/sentiment-19.ckpt.data-00000-of-00001
model/sentiment-19.ckpt.index
model/sentiment-19.ckpt.meta
model/sentiment-29.ckpt.data-00000-of-00001
model/sentiment-29.ckpt.index
model/sentiment-29.ckpt.meta
model/sentiment-39.ckpt.data-00000-of-00001
model/sentiment-39.ckpt.index
model/sentiment-39.ckpt.meta
model/sentiment-9.ckpt.data-00000-of-00001
model/sentiment-9.ckpt.index
model/sentiment-9.ckpt.meta
